body {
    background-color: #212529;
    color: white;
    height: 100%;
}

.navbar {
    background-color: #343a40;
    color: white;
}

.navbar-brand {
    color: white;
}

form.d-flex button {
    background-color: #343a40;
    color: white;
    outline: none;
    border: none;
}
