:root {
    font-family: 'Open Sans';
    font-size: 16px;
}

table {
    border-collapse: collapse;
    border-spacing: 0cm;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0cm;
    margin: 0cm;
    line-height: 1.5;
    color: #606c71;
}

.main-content {
    word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
    .main-content {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 600px) {
    .main-content {
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
}

.main-content table th,
.main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #00000000;
}

.code-style {
    background-color: #2f3136;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    margin-top: 0.25em;
    padding: 0.1em;
    border: 2px solid #282b30;
    border-radius: 5px;
    color: #b9bbbe;
}

body {
    background-color: #36393e;
    color: #dcddde;
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.toggle-nsfw {
    position: relative;
}

.toggle-nsfw input {
    position: relative;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-nsfw .ON-OFF {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    display: block;
}
.slider {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #333;
    transition: 0.4s;
    width: 130px;
    height: 80px;
}

.slider::before {
    content: '';
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #fff;
    transition: 0.4s;
    top: 10px;
    left: 10px;
}

input:checked + .slider {
    background-color: #fd5d00;
}

input:checked + .slider::before {
    transform: translateX(80px);
    background-color: #2196f3;
}

.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}
